In [1]:
# Q . 1)

In [ ]:
"""mongodb is a type of database that's good at handling lots of differnt kind of information .
it's like a smart storage system for data that can grow and change easily."""

In [ ]:
"""Non ralational database ,or nosql database . don't use tables with rows and columns like 
traditional database .they offer flexibility in storing data in various formate, making them suitable for 
diverse data types and changing structures."""

In [ ]:
"""
mongodb is preferred when data is dynamic , changes frequently , or lacks of  structure .
"""

In [2]:
# Q.2 )

In [ ]:
"""
Flexible schema : Allow diverse data structure in the same collection.
scalability : Easily scales horizentally to manage growing data and tarffic.
Document oriented : stores data in JSON formate ,simplyfing the complex structures .
Indexing : supports various indexes for optimized query performance .
Aggregation framwork : Enable complex data transformation within the database .


"""

In [3]:
# Q .3 )

In [86]:
import pymongo

In [87]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [88]:
client = pymongo.MongoClient("mongodb+srv://abdulmokarim:shaikh@cluster0.orramet.mongodb.net/?retryWrites=true&w=majority")

In [89]:
mydb = client["Mydatabase"]

In [90]:
mycol = mydb["mycollection"]

In [91]:
one_record = {"Name" : "Shaikh_arsalan" , "Age" : 25 , "City" : "Azamgarh"}

In [92]:
add_one = mycol.insert_one(one_record)

In [93]:
many_record = [
    {"Name" : "Shaikh_arsalan" , "Age" : 25 , "City" : "Azamgarh"},
    {"Name" : "Shaikh_arsalan" , "Age" : 25 , "City" : "Azamgarh"},
    {"Name" : "mohd_arsalan" , "Age" : 24 , "City" : "Mau"},
    {"Name" : "Shaikh_mokarim" , "Age" : 23 , "City" : "varansi"},
    {"Name" : "yaseen_ahmed" , "Age" : 26 , "City" : "Mau"},
    {"Name" : "mohd_omama" , "Age" : 22 , "City" : "lucknow"},
    {"Name" : "danish_shaikh" , "Age" : 21 , "City" : "mumbai"}
]

In [94]:
add_many = mycol.insert_many(many_record)

In [95]:
mycol.find_one()

{'_id': ObjectId('65742db8d472493daebd6b0e'),
 'Name': 'Shaikh_arsalan',
 'Age': 25,
 'City': 'Azamgarh'}

In [96]:
for i in mycol.find() :
    print(i)

{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}
{'_id': ObjectId('65742ea8d472493daebd6b13'), 'Name': 'yaseen_ahmed', 'Age': 26, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b14'), 'Name': 'mohd_omama', 'Age': 22, 'City': 'lucknow'}
{'_id': ObjectId('65742ea8d472493daebd6b15'), 'Name': 'danish_shaikh', 'Age': 21, 'City': 'mumbai'}

In [97]:
# Q .5 )

In [ ]:
"""the find() method in mongodb is used to query and retrieve documents from a collection based 
on specified criteria."""

In [99]:
 # first query

mycol.find({"Age" : 25})

In [100]:
for i in mycol.find({"Age" : 25}) : 
    print(i)

{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}

In [101]:
# second query($gte , $lt)
mycol.find({"Age" : {"$gte" : 22 , "$lt" : 26}})

In [102]:
for i in mycol.find({"Age" : {"$gte" : 22 , "$lt" : 26}}) :
    print(i)

{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}
{'_id': ObjectId('65742ea8d472493daebd6b14'), 'Name': 'mohd_omama', 'Age': 22, 'City': 'lucknow'}

In [105]:
# Third query($in)
for i in mycol.find({"City" : {"$in" :["City" , "Mau" , "City" , "varansi"]}}) :
    print(i)

{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}
{'_id': ObjectId('65742ea8d472493daebd6b13'), 'Name': 'yaseen_ahmed', 'Age': 26, 'City': 'Mau'}

In [106]:
# Q .6 )

In [ ]:
"""
In MongoDB, the sort() method is used to sort the documents in a collection based on one or more fields.
It is often used in conjunction with other query and projection operators to retrieve and order the data in a specific way.
The sort() method takes a document as an argument, where each key-value pair specifies a field and the sorting order
(ascending or descending).
"""

In [108]:
mycol.find().sort({"Age" : 1})

In [109]:
for i in mycol.find().sort({"Age" : 1}) :
    print(i)

{'_id': ObjectId('65742ea8d472493daebd6b15'), 'Name': 'danish_shaikh', 'Age': 21, 'City': 'mumbai'}
{'_id': ObjectId('65742ea8d472493daebd6b14'), 'Name': 'mohd_omama', 'Age': 22, 'City': 'lucknow'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}
{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b13'), 'Name': 'yaseen_ahmed', 'Age': 26, 'City': 'Mau'}

In [110]:
for i in mycol.find().sort({"Age" : -1}) :
    print(i)

{'_id': ObjectId('65742ea8d472493daebd6b13'), 'Name': 'yaseen_ahmed', 'Age': 26, 'City': 'Mau'}
{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}
{'_id': ObjectId('65742ea8d472493daebd6b14'), 'Name': 'mohd_omama', 'Age': 22, 'City': 'lucknow'}
{'_id': ObjectId('65742ea8d472493daebd6b15'), 'Name': 'danish_shaikh', 'Age': 21, 'City': 'mumbai'}

In [114]:
for i in mycol.find().sort({"City" : 1}) :
    print(i)

{'_id': ObjectId('65742db8d472493daebd6b0e'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b0f'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b10'), 'Name': 'Shaikh_arsalan', 'Age': 25, 'City': 'Azamgarh'}
{'_id': ObjectId('65742ea8d472493daebd6b11'), 'Name': 'mohd_arsalan', 'Age': 24, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b13'), 'Name': 'yaseen_ahmed', 'Age': 26, 'City': 'Mau'}
{'_id': ObjectId('65742ea8d472493daebd6b14'), 'Name': 'mohd_omama', 'Age': 22, 'City': 'lucknow'}
{'_id': ObjectId('65742ea8d472493daebd6b15'), 'Name': 'danish_shaikh', 'Age': 21, 'City': 'mumbai'}
{'_id': ObjectId('65742ea8d472493daebd6b12'), 'Name': 'Shaikh_mokarim', 'Age': 23, 'City': 'varansi'}

In [115]:
# Q .7 )

In [ ]:
"""
In MongoDB, the methods delete_one(), delete_many(), and drop() are used for different purposes 
related to the removal or deletion of data.
"""

In [116]:
# delete_one
#  Removes a single document that matches the specified criteria from a collection.

mycol.delete_one({"Name":"mohd_arsalan"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000e0'), 'opTime': {'ts': Timestamp(1702115793, 17), 't': 224}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702115793, 17), 'signature': {'hash': b"\xa5L\xdd\xbd\xde\x7f\xfcv\x8a\xb0Vgb\x9a'\x8em_\xcc\xed", 'keyId': 7263471583723782146}}, 'operationTime': Timestamp(1702115793, 17)}, acknowledged=True)

In [120]:
# delete_many
# Removes all documents that match the specified criteria from a collection.
mycol.delete_many({"Age" : {"$lt" : 24 }})

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff00000000000000e0'), 'opTime': {'ts': Timestamp(1702116026, 30), 't': 224}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702116026, 30), 'signature': {'hash': b'\x11\xd6\xd2\xcb\xa0\xd2\x85\xb1\xe8@js\xf4\xf1)\x9d\xef\xfb-D', 'keyId': 7263471583723782146}}, 'operationTime': Timestamp(1702116026, 30)}, acknowledged=True)

In [ ]:
# drop
#  Deletes an entire collection from the database.